.contenedorContact{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    width: 100%;
    margin: 2%;
}

.contenedorContact div{
    width: 80%;
    margin:1%;
}

textarea{
    resize: none;
    min-height: 200px;
}