
.container{
    margin: 2%;
}
.container div{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 2%;
}


.container div label{
    margin-right: auto;
}

button{
    width: 80%;
}